<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acasa</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: Grey;
  color: black;
}

.topnav a.active {
  background-color: #016A5C;
  color: white;
}
</style>
</head>
<body>
<div class="topnav">
  <a class="active" href="/">Acasa</a>
  <a href="/login">Contul meu</a>
  <a href="#contact">Contact</a>
  <a href="#about">Despre noi</a>
    <a href="/login/logout">Log out</a>
</div>
<br>
	<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>